<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/style.css" rel="stylesheet">
    <title>Pattaya</title>
</head>
<body class="pattaya-container">
<header>
    <nav>
        <a href="../index.html">Back to Home</a>
    </nav>
</header>
<section class="pattaya">
    <h2>Lâu đài gỗ ở Pattaya</h2>
    <article class="content">
        <p>Du lịch Pattaya, it ai biết “thành phố ma quỷ” này sở hữu một công trình kiến trúc độc đáo, tòa lâu đài khổng
            lồ bằng gỗ nằm bên bờ biển. Lâu đài tên gọi là Sanctuary of Truth – Lâu đài Sự Thật, hay còn có tên khác là
            Ngôi đền Chân Lý – một kiệt tác của nghệ thuật điêu khắc gỗ Thái Lan.</p>
        <p>Được khởi công xây dựng từ năm 1981 với ý tưởng và sự tài trợ chính của tỷ phú Thái Lan – ông Lek Viriyaphan,
            mãi đến năm 2008 lâu đài mới tạm ổn phần lớn các công trình, chứ chưa thực sự hoàn thiện bởi lâu đài cứ được
            mở rộng mãi và chưa có kế hoạch dừng lại. 250 người thợ đã làm việc cật lực trong gần 27 năm ròng rã do khối
            lượng tượng điêu khắc quá lớn và tỉ mỉ. Việc chế tác đã kỳ công, di chuyển và lắp đặt các bức tượng lên cao
            cũng kỳ công không kém. Bởi các bức tượng không dùng đinh để đóng mà ghép bằng mộng, đòi hỏi độ chính xác
            gần như tuyệt đối. Ngôi đền cao đến 105m, dài 100m với tổng diện tích nội cung là 2.115 m2, không phải đơn
            giản mà một sớm một chiều có thể dựng xong công trình này. Thật đáng nể phục các nghệ nhân người Thái.</p>
        <p>Bao quanh ngôi đền là rừng cây tươi xanh, hồ nước, các công trình phụ khác trên tổng diện tích 12,8 ha. Tất
            cả cửa ra vào, cột chính, mái mui đều có trang trí bằng họa tiết hoa văn điêu khắc. 4 mặt đền điêu khắc hình
            ảnh của 4 nền văn hóa lớn ảnh hưởng đến đất nước, con người Thái Lan, gồm Thái Lan truyền thống, Campuchia,
            Ấn Độ và Trung Hoa . Nếu như ở mặt này kiến trúc Trung Hoa đậm nét thì mặt khác lại là sự hoành tráng mang
            dáng dấp một Angkor của Campuchia, hay mặt khác nữa là những vị thần huyền thoại đầy quyền lực của Ấn
            Độ.</p>
    </article>
</section>
</body>
</html>