<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/style.css" rel="stylesheet">
    <title>Programming Industry</title>
</head>
<body>
<header>
    <nav>
        <a href="../index.html">Back to Home</a>
    </nav>
</header>
<section class="programming-industry">
    <h2 class="text-red text-title">Chương trình học - ngành lập trình</h2>
    <table>
        <thead>
            <tr>
                <th rowspan="2">Nhóm học phần</th>
                <th rowspan="2">Môn Học</th>
                <th colspan="2">Số tiết</th>
            </tr>
            <tr>
                <th>Lý Thuyết</th>
                <th>Thực Hành</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="5" class="text-red text-left">I. Tin học văn phòng</td>
                <td>Hệ điều hành Windows</td>
                <td>3</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Sử dụng Internet</td>
                <td>3</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Soạn thảo văn bản MS Word</td>
                <td>24</td>
                <td>40</td>
            </tr>
            <tr>
                <td>Hệ điều hành Windows</td>
                <td>3</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Hệ điều hành Windows</td>
                <td>3</td>
                <td>5</td>
            </tr>
            <tr>
                <td rowspan="2" class="text-red text-left">II. Kỹ thuật lập trình</td>
                <td>Nhập môn lập trinh</td>
                <td>36</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Kỹ thuật lập trình</td>
                <td>36</td>
                <td>60</td>
            </tr>
            <tr>
                <td colspan="4" class="text-left">...</td>
            </tr>
        </tbody>
    </table>
</section>
</body>
</html>