<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/style.css" rel="stylesheet">
    <title>Shanghai</title>
</head>
<body>
<header>
    <nav>
        <a href="../index.html">Back to Home</a>
    </nav>
</header>
<section class="shanghai">
    <h2>
        <p>Thượng Hải</p>
        <p>tương lai của Trung Hoa hiện đại</p>
    </h2>
    <article>
        <p><strong>L</strong>orem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, culpa expedita
            molestiae
            necessitatibus praesentium quo sit tempora! <u><b>Alias distinctio doloremque eos eveniet,
                ex illum molestiae mollitia necessitatibus nemo placeat ut?</b></u></p>
        <p class="shanghai-harbour">Bến Thượng Hải</p>
        <p><strong>K</strong>orem ipsum dolor <span>sit amet</span> and <span>consectetur adipisicing</span> elit. Ab accusamus aspernatur cum
            doloremque dolores,
            facere inventore maxime nisi nulla odio qui quibusdam reiciendis reprehenderit sint tenetur! Incidunt iste
            nam quod. <i>Lorem ipsum</i> dolor sit amet, consectetur adipisicing elit. Ab accusamus aspernatur
            cum doloremque dolores,
            facere inventore maxime nisi nulla odio qui quibusdam reiciendis reprehenderit sint tenetur! Incidunt iste
            nam quod. <i>Lorem ipsum</i> dolor sit amet, consectetur adipisicing elit. Ab accusamus aspernatur
            cum doloremque dolores,
            facere inventore maxime nisi nulla odio qui quibusdam reiciendis reprehenderit sint tenetur! Incidunt iste
            nam quod.</p>
    </article>
</section>
</body>
</html>