<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/style.css" rel="stylesheet">
    <title>Travel China</title>
</head>
<body class="travel-china-container">
<header>
    <nav>
        <a href="../index.html">Back to Home</a>
    </nav>
    <section class="travel-china">
        <h2>“BẤT ĐÁO TRƯỜNG THÀNH PHI HẢO HÁN”</h2>
        <article class="content">
            <p>Quả thật đúng như lời “ Bất đáo trường thành phi hảo hán” một danh ngôn như khẳng định những ai chưa
                chinh phục được Trường thành thì không phải là một nam tử hán đại trượng phu.
                Trường thành với chiều dài hơn 21.196km sẽ làm nản lòng bất cứ du khách nào có ý định “ chinh phục”
                trường thành.</p>
            <p>Từ thời ngàn xưa – với ý đồ ngăn chặn những cuộc xâm lấn của người Hung Nô, Chính quyền phong kiến thời
                bấy giờ
                xây dựng nên những bức tường cao , xa xa có những ụ nổi lên như tháp canh , có lính gác thường xuyên.
                Qua những triều đại phong kiến trãi dài hàng trăm năm, những bức tường tiếp nối cứ dài ra, kéo dài khắp
                lãnh thổ như một vành đai bao bọc .</p>
        </article>
    </section>
</header>
</body>
</html>